@charset "UTF-8";
/* CSS Document */

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #4E5869;
	margin: 0;
	padding: 0;
	background-color: #4B0082;

}
ul, ol, dl { 
	padding: 0;
	margin: 0;

}

h1, h2, h3, h4, h5, h6, p {

	margin-top: 20;	
	padding-right: 15px;
	padding-left: 15px;
	text-align:center; 
}

h2, h5{
	color: #4B0082;
	
	}
h2{
	font-family: "Comic Sans MS";
	font-size: 30px;
	}

a img { 
	border: none;
}

a:link {
	color:#FFD700;
	text-decoration: underline; 

}

a:visited {
	color: #FFD700;
	text-decoration: underline;

}

a:hover, a:active, a:focus { 
	text-decoration: none;
	color:#FFD700

}

.container {

	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background-color: #008000;
	margin: 0 auto;
}

.header {
	background-color: #FFFFE0;

}

.sidebar1 {
	float: left;
	width: 20%;
	background-color: #FFFFE0;
	padding-bottom: 10px;

}

.content {
	padding: 10px 0;
	width: 60%;
	float: left;
	background-color: #FFD700;
	color: #197ADA;

}

.sidebar2 {
	float: left;
	width: 20%;
	background-color: #FFFFE0;
	padding: 10px 0;

}


.content ul, .content ol { 
	padding: 0 15px 15px 40px; 

}

ul.nav {

	list-style: none; 
	border-top: 1px solid #666; 
	margin-bottom: 15px; 

}

ul.nav li {
	border-bottom: 1px solid #666; 

}

ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 15px;
	display: block; 
	text-decoration: none;
	background-color: #FFFFE0;
	color: #1E90FF;

}

ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #FFD700;
	color: #FFF;

}
.footer {

	padding: 2px 1;
	background-color: #FFFFE0;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; 
}

.fltrt { 
	float: right;
	margin-left: 8px;

}

.fltlft { 

	float: left;
	margin-right: 8px;

}

.clearfloat { 

	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;

}

